

$debug-dark = #22262e
$debug-medium = lighten($debug-dark, 5%)
$debug-tan = #de935f
$debug-red = #cc6660
$debug-padding = 20px
$debug-white = #efefef
$debug-blue = #81a2be
$debug-green = #b5bd68
$debug-yellow = #f0c674
$debug-purple = #b294bb
$debug-orange = #d8773b
$debug-aqua = #8abeb7
$debug-nav-width = 350px
$drag-bar-height = 20px
