
$debug-dark = #22262e
$debug-medium = lighten($debug-dark, 5%)
$debug-tan = #de935f
$debug-red = #cc6660
$debug-padding = 20px
$debug-white = #efefef
$debug-blue = #81a2be
$debug-green = #b5bd68
$debug-yellow = #f0c674
$debug-purple = #b294bb
$debug-orange = #d8773b
$debug-aqua = #8abeb7
$debug-nav-width = 350px
$drag-bar-height = 20px

@keyframes debugger-zoom-in {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes debugger-zoom-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.debugger-highlight-enter-active
  animation: debugger-zoom-in .2s ease

.debugger-highlight-leave-active
  animation: debugger-zoom-out .5s ease

.vue-debugger-container
  z-index: 100000

  .vue-debugger.highlighter
    position: fixed
    transition: all .3s ease
    background-color: rgba($debug-aqua, 0.25)
    border: 5px solid rgba($debug-aqua, 0.45)
    border-radius: 5px
    top: 0
    left: 0
    width: 200px
    height: 200px
    z-index: 1000

  a
    cursor: pointer !important

  .vue-debugger.nav-pane, .vue-debugger.main-pane

    &::-webkit-scrollbar
      width: 10px

    &::-webkit-scrollbar-thumb
      background: rgba($debug-purple, 0.3)
      border-radius: 5px

    &::-webkit-scrollbar-track
      background: transparent

  .vue-debugger.pane
    font-family: Monaco, monospace
    font-size: 14px
    position: fixed
    top: 100%
    left: 0
    color: $debug-tan
    width: 100vw
    height: 50%
    z-index: 1000
    text-rendering: optimizeLegibility

    .drag-handle
      width: 100%
      box-shadow: 0px 0px 6px rgba(black, 0.5)
      height: $drag-bar-height
      background-color: lighten($debug-medium, 20%)
      border-top: 1px solid lighten($debug-medium, 35%)
      border-bottom: 1px solid lighten($debug-medium, 15%)
      // position: absolute
      cursor: ns-resize
      text-align: center

      &:before
        content:'\2630'
        color: lighten($debug-medium, 65%)

    .vue-debugger.toggle
      padding: .5em
      // background-color: $debug-medium
      position: absolute
      top: -2.3em
      right: 0
      font-size: 2em
      z-index: 1000
      cursor: pointer




  .type, .count, .toolbar .btn
    opacity: .4
    background-color: $debug-purple
    border-radius: 1em
    font-size: 10px
    padding: .1em .6em
    font-weight: bold
    cursor: pointer
    color: $debug-dark

    &.count
      background-color: $debug-yellow

    &.reload
      background-color: $debug-red
      color: white
      font-weight: bold

    &.json
      background-color: $debug-aqua
      margin-left: .5em

    &:hover
      opacity: .9

    &.Array
      background-color: $debug-yellow

    &:empty
      display: none

  .toolbar
    display: none
    position: absolute
    opacity: 0
    top: 6px
    right: 0
    z-index: 1000000
    transition: all .2s ease
    justify-content: flex-end

    .btn
      // opacity: 1 !important
      background-color: $debug-aqua
      color: darken($debug-aqua, 70%)
      border-radius: 0
      opacity: 0.8
      border-right: 1px solid darken($debug-aqua, 20%)
      border-left: 1px solid lightene($debug-aqua, 20%)

      &:last-child
        border-right: none
        border-top-right-radius: 1em
        border-bottom-right-radius: 1em

      &:first-child
        border-left: none
        border-top-left-radius: 1em
        border-bottom-left-radius: 1em


  .vue-debugger.nav-pane
    box-sizing: border-box
    width: $debug-nav-width
    display: inline-block
    float: left
    height: 100%
    overflow: auto
    padding: $debug-padding
    padding-right: 0
    background-color: rgba($debug-dark, 0.95)
    border-right: 1px solid darken($debug-dark, 10%)

    ul, li
      list-style: none
      padding: 0

    ul
      padding: 0
      padding-left: $debug-padding

    > ul
      margin: 0
      padding: 0

    li
      padding: .3em
      padding-right: 0
      color: $debug-purple
      position: relative


      &.children:before
        position: absolute
        left: -12px
        content: '▸'

      &.children.opened:before
        content: '▾'

      a
        color: inherit
        display: block
        font-weight: bold

        &:hover
          .toolbar
            opacity: 1
            display: flex

      &.active
        color: $debug-yellow



  .vue-debugger.main-pane
    padding: $debug-padding 0 ($debug-padding*2) 0
    box-sizing: border-box
    background-color: rgba($debug-medium, 0.95)
    display: inline-block
    float: left
    width: 'calc(100% - %s)' % $debug-nav-width
    height: 100%
    overflow: auto
    color: $debug-white
    line-height: 1.7em
    border-left: 1px solid lighten($debug-medium, 12%)

    .obj-tree
      display: block
      padding-left: $debug-padding

      .key
        cursor: pointer
        color: $debug-blue
        font-weight: bold
        position: relative

        .divider
          color: $debug-white

        &.Array, &.Object
          &:before
            position: absolute
            left: -12px
            content: '▸'

      &.empty .key
        cursor: auto

        &:before
          display: none

      .value
        color: $debug-green
        word-break: break-all

        &.null, &.undefined
          color: $debug-orange

        &.Number
          color: $debug-yellow

        &.Boolean
          color: $debug-yellow

        &.Array, &.Object
          color: $debug-white

      .container
        display: none

  .obj-tree:not(.empty) > .key:hover
    color: lighten($debug-blue, 60%)

  .vue-debugger.main-pane .obj-tree.open
    > .key.Array, > .key.Object
      &:before
        content: '▾'

    > .container
      display: inline
